.deco {
  position: absolute;
  aspect-ratio: 1/1;
  animation: decoRotate 30s infinite linear;
  overflow: hidden;

  g {
    fill: $dark;
  }

  &.t-reverse {
    animation-direction: reverse;
  }
}

.t-swiss {
  left: -150px;
  top: 250px;
  width: 280px;
}

.t-star {
  width: 210px;
  top: 730px;
  right: -100px;
}

@media (min-width: 768px) {
  .t-swiss {
    width: 350px;
    top: 350px;
    left: -200px;
  }
  .t-star {
    width: 600px;
    top: 700px;
    right: -250px;
  }
}

@media (min-width: 1200px) {
  .t-swiss {
    width: 400px;
  }
  .t-star {
    width: 800px;
    top: 550px;
    right: -350px;
  }
}

@keyframes decoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
