.language-container {
  select {
    appearance: none;
    outline: 0;
    width: 40px;
    transform: translateY(2px);

    background: var(--arrow-icon) no-repeat left 0 top 7px / 13px;
    color: $dark;
    cursor: pointer;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
    border: none;
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
    }
  }
}

@media (min-width: 768px) {
  .language-container select {
    font-size: 30px;
    transform: translateY(-2px);
    width: 63px;
    -webkit-text-stroke: 1px $dark;
    background: var(--arrow-icon) no-repeat left 0 center / 15px;
  }
}
