.language-container {
  select {
    appearance: none;
    outline: 0;
    width: 55px;
    transform: translateY(2px);

    background: var(--arrow-icon) no-repeat left 0 center / 15px;
    color: $dark;
    cursor: pointer;
    text-align: right;
    font-weight: 900;
    -webkit-text-stroke: 1px $dark;
    font-size: 18px;
    border: none;
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
    }
  }
}

@media (min-width: 768px) {
  .language-container select {
    font-size: 30px;
    width: 60px;
    transform: translateY(-2px);
  }
}
