.product-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;

  .deco {
    display: none;
  }
}

.product-card {
  background: $light;
  position: relative;
  height: 460px;
  padding: 0 10px 10px;

  &.t-blonde {
    h2 {
      color: $blondBack;
    }
    .product-texts {
      color: $blondMain;
    }

    .button {
      color: $blondBack;
      background: $blondMain;
    }
  }
  &.t-brune {
    h2 {
      color: $brownMain;
    }
    .product-texts {
      color: $brownBack;
    }

    .button {
      color: $brownBack;
      background: $brownMain;
    }
  }
  &.t-ipa {
    h2 {
      color: $ipaMain;
    }
    .product-texts {
      color: $ipaBack;
    }

    .button {
      color: $ipaBack;
      background: $ipaMain;
    }
  }

  .button {
    font-size: 13px;

    &::before {
      background: $dark;
    }
  }
}

.product-img {
  position: absolute;
  width: 140px;
  bottom: -20px;
  left: -20px;
}

.product-cta {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.product-title {
  font-size: 74px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;

  p {
    position: absolute;
    font-size: 16px;
    top: 20px;
    right: 135px;
    line-height: 16px;
  }
}

.product-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-description {
  margin-left: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 350px;
}

.product-text {
  font-size: 15px;
  font-weight: 250;
}

.product-ingredient {
  font-size: 12px;
  font-weight: 250;
}

.product-price-unity {
  font-size: 15px;
  font-weight: 700;
}

.product-price-group {
  font-size: 13px;
  font-weight: 250;
}

@media (min-width: 768px) {
  .product-container {
    flex-direction: row;
    padding-left: 200px;

    .deco {
      display: block;
      width: 725px;
      top: 250px;
      left: -450px;

      g {
        fill: $light;
        transition: fill 0.3s 0.1s;
      }
    }
  }

  .product-card {
    height: 600px;
    flex-grow: 1;
    transition: flex-grow 0.2s ease-out;
    position: relative;
  }

  .product-description {
    position: absolute;
    height: 500px;
    top: 70px;
    left: 50px;
    bottom: 50px;
    right: 140px;
    opacity: 0;
    max-width: 260px;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-100%);
    align-items: flex-start;
    pointer-events: none;
  }

  .product-text,
  .product-price-unity,
  .product-card .button {
    font-size: 18px;
  }

  .product-ingredient,
  .product-price-group {
    font-size: 16px;
  }

  .product-card:hover {
    flex-grow: 2.8;

    .product-description {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.3s 0.2s, transform 0.3s 0.2s;
      pointer-events: all;
    }

    .product-img {
      scale: 1.1;
    }
  }

  .product-title {
    position: absolute;
    right: -20px;
    top: -170px;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    font-size: 140px;
    p {
      font-size: 35px;
      top: 40px;
      right: 230px;
      line-height: 30px;
    }
  }

  .product-img {
    z-index: 3;
    transform-origin: bottom;
    width: 200px;
    bottom: -40px;
    left: -40px;
    transition: scale 0.3s 0.1s;
  }

  .product-card.t-blonde:hover ~ .deco g {
    fill: $blondBack;
  }
  .product-card.t-brune:hover ~ .deco g {
    fill: $brownMain;
  }
  .product-card.t-ipa:hover ~ .deco g {
    fill: $ipaBack;
  }
}
