.social-icon {
  width: 30px;
  height: 30px;

  &.t-dark .svg-g {
    fill: $dark;
  }
  &.t-light .svg-g {
    fill: $light;
  }

  &:hover .svg-g {
    fill: var(--random-color, $ipaBack);
  }
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
