.l-header {
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid $dark;
  height: 40px;
  padding: 10px 10px 10px 20px;
}

.l-hero {
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}

.l-product {
  background: $dark;
  padding: 30px 10px;
  overflow: hidden;
}

.l-about {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}

.l-footer {
  background: $dark;
  color: $light;
  padding: 50px 0 25px;

  & *::selection {
    background: $white;
    color: $dark;
  }
}

@media (min-width: 768px) {
  .l-header {
    height: 80px;
    padding: 24px 60px;
  }

  .l-about {
    margin-top: 140px;
  }

  .l-footer {
    padding: 90px 0 70px;
  }
}
