.l-header {
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid $dark;
  height: 40px;
  padding: 10px 0;
}

.l-hero {
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}

.l-product {
  background: $dark;
  padding: 30px 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .l-header {
    height: 80px;
    padding: 24px 0;
  }
}
