@mixin hoverLine($background, $origin, $height) {
  overflow-x: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height;
    transform-origin: $origin;
    background: $background;
    transition: transform 0.4s;
    transform: scaleX(0);
  }

  &:hover::before {
    transform: scaleX(100%);
  }
}

@mixin gradientAnim {
  background: radial-gradient(
    $blondBack,
    $blondMain,
    $brownMain,
    $ipaMain,
    $ipaBack
  );

  background-size: 360% 360%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 100%;
  }
  33% {
    background-position: 50% 0%;
  }
  66% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
